<footer class="footer">
  <p class="footer_title">Blog</p>

  <menu>
    <nav class="footer_nav">
      <a href="{{ path('app_homepage')}}">Accueil</a>
      <a href="{{ path('app_login')}}">Connexion</a>
      <a href="{{ path('app_register')}}">Inscription</a>
      <a href="{{ path('app_homepage')}}">Mentions Légales</a>
    </nav>
  </menu>

  <p class="footer_developper">Site développé par <a href="https://remilopez.com" target="_blank">Rémi Lopez</a></p>
  <p class="footer_copyright">Tous droits réservés - 2022</p>
</footer>